// colours
$orange: #c15030;
$yellow: #edae49;
$teal: #00798c;
$blue: #98c1d9;
$gray: #4f5149;
$black: #000000;
$white: #ffffff;
$opaque-orange: rgba(193, 80, 48, 0.95);

$gray-border: 0.2em solid $gray;

// padding
$paddingContentModules: 5em;

// navigation
$navBarHeight: 66px;

// breakpoints
$MobileMinWidth: 600px;
$MobileMaxWidth: 800px;
$TabletMaxWidth: 1199px;


$contentMaxHeight: 32.5em;
$ctaHeight: 4em;