// colours
$orange: #c15030;
$yellow: #edae49;
$teal: #00798c;
$blue: #98c1d9;
$gray: #4f5149;
$black: #000000;
$white: #ffffff;

// padding
$paddingContentModules: 5em;

// navigation
$navBarHeight: 66px;

// breakpoints
$MobileMaxWidth: 767px;
$TabletMaxWidth: 1023px;
