.top-cta {
	position: absolute;
	top: 3em;
	right: 7.8em;
	text-align: right;

	.phone-number {
		font-family: Knockout-HTF54-Sumo;
	  font-size: 2em;
	  font-weight: normal;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.2;
	  letter-spacing: 0.86px;
	  color: $orange;
	  text-transform: uppercase;
	}
}
