/*
@font-face {
  font-family: Example;
  src: url('../../statics/fonts/Example/Example.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
}
*/
// @font-face {
//   font-family: 'Montserrat', sans-serif;
//   src: url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Cutive+Mono|Syncopate|Roboto&display=swap')
//     format('opentype');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Cutive Mono', monospace;
//   src: url('https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap')
//     format('opentype');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Syncopate', sans-serif;
//   src: url('https://fonts.googleapis.com/css?family=Syncopate&display=swap')
//     format('opentype');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Roboto', sans-serif;
//   src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap" rel=')
//     format('opentype');
//   font-weight: normal;
//   font-style: normal;
// }