.contact {
  padding: 1.3em;

  @include respond-to(tablet) {
    padding: 2em;
  }

  &-name-container {
    h2 {
      font-weight: 100;
      font-size: 2.2em;
      margin-bottom: 0.5em;
      color: $gray;
    }

    @include respond-to(tablet) {
      h2 {
        font-size: 2.2em;
        margin-bottom: 0;
      }
    }
  }

  &-content-container {
    border-top: $gray-border;

    &.address {
      @include respond-to-max(mobile) {
        display: none;
      }

      @include respond-to('tablet') {
        display: block;
      }

      border-top: $gray-border;
      margin-top: 4em;

      .contact-address-container {
        display: block;
        float: left;
        box-sizing: border-box;
        width: 50%;
        border-right: $gray-border;
        padding: 1.3em 1em;

        @include respond-to('tablet') {
          width: 60%;
        }

        span {
          font-size: 20px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.2;
          letter-spacing: 0.86px;
          text-align: left;

          color: $orange;
        }
      }

      .contact-social-container {
          padding: 20px 10px;
          box-sizing: border-box;
          width: 50%;
          float: left;
          text-align: center;
          border: 0;

          @include respond-to('tablet') {
            width: 40%;
          }

          .contact-social-icon {
              width: 100%;
              max-width: 30px;
              height: auto;
              padding: 5px 30px;
              display: inline-block;
          }
      }
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &-info-container,
  &-logo-container {
    box-sizing: border-box;

    @include respond-to(tablet) {
      display: block;
      float: left;
    }

    @include respond-to-max(tablet) {
      margin-left: 1.1em;
      border-left: $gray-border;
    }
  }

  &-logo-container {
    @include respond-to-max(tablet) {
      border-top: $gray-border;
    }

    img {
      max-height: 4em;
      width: auto;
      padding: 1em 2.5em 1em 2em;

      @include respond-to(tablet) {
        max-height: 6em;
        padding: 3em 2.5em 3em 4em;
      }
    }

    @include respond-to(tablet) {
      width: 40%;
    }
  }

  &-info-container {
    padding: 1em 0;

    @include respond-to(tablet) {
      padding: 0;
      width: 60%;
      border-right: $gray-border;
    }

    .contact-info-icon,
    .contact-info-text {
      display: inline-block;
      vertical-align: middle;
      margin-top: 0.3em;
      margin-bottom: 0.3em;

      @include respond-to(tablet) {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
      }
    }

    .contact-info-icon {
      max-width: 2em;
      height: auto;
      margin-right: 2.5em;
      margin-left: 2em;
    }

    .contact-info-text {
      font-size: 16px;
      color: $gray;
      font-family: 'Cutive Mono';
      word-break: break-all;

      @include respond-to-max(mobile) {
        width: 53vw;
      }
    }
  }

  .contact-banner-container {
      height: 40%;
      margin: 0 0 25px;

      .contact-banner {
          height: 100%;
          width: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
      }
  }
}

// @include respond-to(tablet) {

//   .contact-name-container {
//       // margin: $paddingContentModules;
//       display: inline-block;
//       width: calc((100% - #{$paddingContentModules}) - #{$paddingContentModules}); // account for both left & right margin
//       padding: 0 10px 5px;
//       margin: 2em 2em 0em;

//       @include respond-to(tablet) {
//           margin: 5em 5em 0em;
//       }
//   }

//   .contact-content-container {
//       // margin: 1em $paddingContentModules $paddingContentModules;
//       // display: inline-block;
//       // width: calc((100% - #{$paddingContentModules}) - #{$paddingContentModules}); // account for both left & right margin
//       border-top: $gray-border;

//       .contact-info-container {
//           padding: 20px 10px;
//           border-right: $gray-border;
//           box-sizing: border-box;
//           width: 60%;
//           float: left;

//           .contact-info-item {

//               &:not(:last-child) {
//                   margin-bottom: 12px;
//               }

//               .contact-info-icon {
//                   margin-right: 10px;
//                   width: 25px;
//                   height: auto;
//                   background-size: contain;
//                   background-repeat: no-repeat;
//                   display: inline-block;
//               }
//               .contact-info-text {
//                   text-transform: uppercase;
//                   color: $gray;
//                   font-size: 20px;
//                   line-height: 1.15;
//                   letter-spacing: 2px;
//                   text-align: left;
//               }
//           }
//       }

//       .contact-logo-container {
//           padding: 20px 10px;
//           box-sizing: border-box;
//           width: 40%;
//           float: left;
//           text-align: center;

//           .contact-logo {
//               width: 100%;
//               height: auto;
//               max-width: 240px;
//           }
//       }

//       .contact-address-container {
//           padding: 20px 10px;
//           border-right: $gray-border;
//           box-sizing: border-box;
//           width: 60%;
//           float: left;

//           > * {
//               color: $orange;
//               font-size: 20px;
//               line-height: 1.2;
//               letter-spacing: 0.86px;
//           }

//           .contact-address-two {
//               margin-left: 40px;
//           }
//       }

//   }
// }