// fix global styles
.torque-slideshow-react-entry {
	display: block;
    height: 100%;
    box-sizing: border-box;

	.tq-items-list { display: none; }

	.tq-slideshow.template_cannery_floorplans {
		box-sizing: border-box;
		// padding-bottom: 56%;
		// height: 0;
		padding-bottom: 0;
		height: 100%;
	}
}


.tq-slideshow {

	.post-slide {
		padding: 2em;

		@include respond-to(tablet) {
			padding: 5em 10em;
		}

		h1 {
			margin-bottom: 10px;
		}
		.slideshow-rsf {
			margin-bottom: 18px;
			font-size: 1.2em;
		}
		> a {
			font-size: 1.2em;
		}

		.slideshow-floor-plan {
			margin-top: 18px;
		}
	}

	.tq-side-overlay {
		background: transparent !important;
	}

	.tq-tracker-wrapper {
		.tq-tracker-icon {
			border-color: $orange;
			border-width: 1px;

			&.active {
				background-color: $orange;
			}
		}
	}
}

.slideshow {

	&-rsf {

	}
}