// fix global styles
.torque-slideshow-react-entry {

	.tq-items-list { display: none; }

	.tq-slideshow.template_cannery_floorplans {
		// padding-top: 75%;
		height: 0;
	}
}


.tq-slideshow {

	.post-slide {
		padding: 7em 14em;
	}

	h1 {
		margin-bottom: 0;
	}

	.tq-side-overlay {
		background: transparent !important;
	}

	.tq-tracker-wrapper {
		.tq-tracker-icon {
			border-color: $orange;
			border-width: 1px;

			&.active {
				background-color: $orange;
			}
		}
	}
}

.slideshow {

	&-rsf {

	}
}