// fix global styles
.torque-slideshow-react-entry {

	.tq-items-list { display: none; }

	.tq-slideshow.template_cannery_floorplans {
		padding-bottom: 99%;
		box-sizing: border-box;
		height: 0;
	}
}


.tq-slideshow {

	.post-slide {
		padding: 5em 8em;

		h1 {
			margin-bottom: 10px;
		}
		.slideshow-rsf {
			margin-bottom: 18px;
		}

		.slideshow-floor-plan {
			margin-top: 18px;
		}
	}

	.tq-side-overlay {
		background: transparent !important;
	}

	.tq-tracker-wrapper {
		.tq-tracker-icon {
			border-color: $orange;
			border-width: 1px;

			&.active {
				background-color: $orange;
			}
		}
	}
}

.slideshow {

	&-rsf {

	}
}