.torque-map {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > div:first-child {
        order: 1;
        width: 100%;

        .torque-map-container {
            padding-top: 75%;
            border: 5px solid #fff;
            box-sizing: border-box;

            @include respond-to(tablet) {
                padding-top: 38%;
            border-bottom: 0.2em solid $gray;
            }
        }
    }

    .torque-map-pois {
        order: 2;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
        padding: 0 $paddingContentModules;
        justify-content: space-evenly;
        padding: 0;
        margin-bottom: 0;
        width: 100%;

        .torque-map-poi {
            margin: 5px;

            button {
                margin: 10px;
                padding: 6px 0;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                border-bottom: 3px solid;
                font-size: 20px;
                text-transform: uppercase;
                background-color: transparent;
            }

            &:nth-child(4n + 1) button {
                color: $orange;
            }
            &:nth-child(4n + 2) button {
                color: $teal;
            }
            &:nth-child(4n + 3) button {
                color: $yellow;
            }
            &:nth-child(4n + 4) button {
                color: $blue;
            }
        }
    }

    .torque-map-pois-list {
        order: 3;
        display: grid;
        grid-template-columns: repeat(1, minmax(200px, 480px));
        // justify-content: space-evenly;
        grid-column-gap: 30px;
        padding: 0 $paddingContentModules;
        width: 100%;
        box-sizing: border-box;
        margin-top: 20px;
        margin-bottom: $paddingContentModules;

        @include respond-to(tablet) {
            grid-template-columns: repeat(2, minmax(200px, 480px));

        }
        .torque-map-pois-list-item {
            display: flex;
            margin: 2px 0 5px;
            padding: 2px 7px 7px 2px !important;
            border-bottom: 1px solid $gray;
            width: 100%;
            box-sizing: border-box;

            .torque-map-pois-list-item-name {
                flex: 2;
                text-align: left;
            }

            .torque-map-pois-list-item-distance {
                flex: 1;
                text-align: right;
            }
        }
    }
}