@import 'sections-content';
@import 'sections-sidebar';

main {
	padding-top: 2em;

	@include respond-to(tablet) {
		padding-top: 0;
	}
}

.section {
	position: relative;
	display: block;
	box-sizing: border-box;
	height: auto;
	width: 100%;
	background-color: $white;
	z-index: 9;
	padding: 7em 1.6em;

	@include respond-to(tablet) {
		padding: 7em 4em;
	}

	@include respond-to(desktop) {
		padding: 8em 7.8em;
		height: 100vh;
	}

	// &.active {}

	&-inner {
		position: relative;
		display: block;
		box-sizing: border-box;
		height: auto;
		width: 100%;
		border: $gray-border;
		overflow: hidden;

		@include respond-to(desktop) {
			height: 100%;
		}
	}

	&-sidebar {
		// position: relative;
		display: block;
		box-sizing: border-box;
		height: auto;
		padding: 2em 1.3em;
		width: 100%;
		box-sizing: border-box;

		@include respond-to(desktop) {
			padding: 2em 3.5em;
			width: 40%;
			height: 100%;
			border-right: $gray-border;
		}
	}

	&-content {
		display: block;
		box-sizing: border-box;
		height: auto;
		padding: 0;
		overflow: auto;
		width: 100%;
		box-sizing: border-box;

		@include respond-to(desktop) {
			width: 60%;
			float: right;
			height: 100%;
		}
	}
}





.mobile-logo {
	display: none;
	text-align: center;
	border-bottom: $gray-border;
	padding: 1em;

	img {
		max-width: 70% !important;

		@include respond-to(tablet) {
			max-width: 50% !important;
		}
	}
}

.section:first-child {
	@include respond-to-max(desktop) {
	&	.mobile-logo {
			display: block;
		}
	}
}

.section-module .torque-slideshow-react-entry .tq-slideshow.template_cannery_floorplans {
	height: 60% !important;
	@include respond-to(tablet) {
		height: 90% !important;
	}
	@include respond-to(desktop) {
		height: 100% !important;
	}
}
.torque-slideshow-react-entry {
	@include respond-to-max(desktop) {
		height: auto !important;
	}
}